.contact-container {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.contact-headings {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.heading-main {
    font-size: 35px;
    font-weight: bold;
    color: #333;
}

.heading-secondary {
    font-size: 20px;
    font-weight: 500;
    color: #555;
}

.contact-inputs {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}

.input-field {
    width: 30%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.message-box {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.send-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    /* border-radius: 5px; */
    cursor: pointer;
    width: 20%;
}

.send-button:hover {
    background-color: #0056b3;
}
