/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    padding: 1rem 2rem;
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .navbar-logo h2 {
    color: black;
    font-size: 1.8rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 2rem;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    position: relative;  
    padding-bottom: 5px; 
  }
  
  .nav-links li a:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    height: 3px;  
    background-color: blue;  
    border-radius: 2px;  
    transition: 2s;
  }
  
  /* Hamburger styling for mobile */
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
  }
  
  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: black;
  }
  
  @media screen and (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav-links {
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #c0b2b2;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease-in;
      transform: translateX(100%);
    }
  
    .nav-links.open {
      transform: translateX(0);
    }
  
    .nav-links li {
      margin: 1.5rem 0;
    }
  }
  